@import url('https://fonts.cdnfonts.com/css/heavywood');

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    font-family: 'HEAVYwood', sans-serif;
    background-color: whitesmoke;
    color: #16161d;
}

.button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #16161d;
    overflow: hidden; /* Asegura que el contenido no se revele hasta que se complete la animación */
    border-right: .05em solid whitesmoke; /* Tamaño más pequeño para el cursor de la máquina de escribir */
    white-space: nowrap; /* Mantiene el contenido en una sola línea */
    margin: 0 auto; /* Proporciona ese efecto de desplazamiento mientras se escribe */
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* Efecto de escritura */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Efecto de cursor de máquina de escribir */
@keyframes blink-caret {
    from, to { border-color: transparent }
    20% { border-color: whitesmoke }
}